<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <booleanAttribute key="org.eclipse.debug.core.ATTR_FORCE_SYSTEM_CONSOLE_ENCODING" value="false"/>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/ClasHStamP/src/stm/TMain.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <mapAttribute key="org.eclipse.debug.core.environmentVariables">
        <mapEntry key="ENCODING" value="UTF-8"/>
        <mapEntry key="EXT_CODE_OPT" value="y"/>
        <mapEntry key="LANGUAGE" value="TypeScript"/>
        <mapEntry key="NEWLINE_LF" value="1"/>
        <mapEntry key="OUTPUT" value="..\AllNotationsTypeScript\src"/>
        <mapEntry key="PACKAGE" value="AllNotations::JavaSample00::Model"/>
        <mapEntry key="PATH_DBG" value="OFF"/>
        <mapEntry key="PROJECT" value="C:\Workspace\DucHM28_\ClasHStamP_EMF\AllNotations\AllNotations.uml"/>
        <mapEntry key="SYNTAX" value="release\Syntax_TypeScript.csv"/>
        <mapEntry key="TOOL_DIR" value="release"/>
        <mapEntry key="WORKING_DIR" value="."/>
    </mapAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_ATTR_USE_ARGFILE" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_SHOW_CODEDETAILS_IN_EXCEPTION_MESSAGES" value="true"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_CLASSPATH_ONLY_JAR" value="false"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="stm.TMain"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="ClasHStamP"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="ClasHStamP"/>
</launchConfiguration>
